body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE; 
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    width: 865px;
    padding-top: 10px;
}

#top {
    font-size: 1.3em;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
    margin-bottom: 50px;
}

#bottom {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    font-style: italic;
    padding: 3em 0 0 0;
}