<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">

                <h1>Shopping Cart #{currentShoppingCart.id}</h1>

                <p:messages autoUpdate="true" showDetail="true"/>

                <h:form>

                    <p:dataTable id="itemTable" value="#{currentShoppingCart.items}" var="item">

                        <p:column>
                            <f:facet name="header">Productname</f:facet>
                            <h:outputText value="#{item.product.name}"/>
                        </p:column>

                        <p:column style="text-align: center">
                            <f:facet name="header">Quantity</f:facet>

                            <p:commandLink value="Remove" 
                                           update="itemTable"
                                           actionListener="#{editShoppingCartController.doRemoveShoppingCartItem(item)}"/>
                            <p:spacer width="20px"/>
                            <p:spinner value="#{item.quantity}" size="2" min="1">
                                <p:ajax process="@this" update="itemTable"
                                        listener="#{editShoppingCartController.updateItemQuantity(item)}"/>
                            </p:spinner>

                        </p:column>

                        <p:column style="text-align: right">
                            <f:facet name="header">Price</f:facet>
                            <h:outputText value="#{item.product.price}">
                                <f:convertNumber type="currency" locale="de_DE"/>
                            </h:outputText>
                            <f:facet name="footer">
                                <h:outputText value="Total:"/>
                            </f:facet>
                        </p:column>

                        <p:column style="text-align: right">
                            <f:facet name="header">Total</f:facet>
                            <h:outputText value="#{item.total}">
                                <f:convertNumber type="currency" locale="de_DE"/>
                            </h:outputText>    
                            <f:facet name="footer">
                                <h:outputText value="#{currentShoppingCart.total}">
                                    <f:convertNumber type="currency" locale="de_DE"/>
                                </h:outputText>
                            </f:facet>
                        </p:column>

                    </p:dataTable>
                    
                    <p/>
                    
                    <p:commandButton value="OK" style="vertical-align : middle"
                                     action="#{editShoppingCartController.doOK()}"/>

                    <p:spacer width="20"/>
                    
                    <p:selectOneMenu value="#{editShoppingCartController.selectedProduct}" converter="#{productConverter}"
                                     style="vertical-align : middle">
                        <f:selectItems value="#{productList}" var="product" 
                                       itemLabel="#{product.name}"
                                       itemValue="#{product}"/>
                    </p:selectOneMenu>

                    <p:spacer width="10"/>
                    
                    <p:commandButton value="Add to cart" style="vertical-align : middle"
                                     update="itemTable"
                                     actionListener="#{editShoppingCartController.addItemToCart()}"/>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
