<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="./template.xhtml">
            <ui:define name="content">

                <h1>Shopping Carts</h1>

                <p:messages autoUpdate="true" showDetail="true"/>
                
                <h:form>

                    <p:dataTable value="#{shoppingCarts}" var="cart">

                        <p:column style="text-align: center">
                            <f:facet name="header">Shopping Cart ID</f:facet>
                            <p:commandLink value="#{cart.id}" 
                                           action="#{listShoppingCartsController.doEditShoppingCart(cart)}"
                                           ajax="false"/>
                        </p:column>

                        <p:column style="text-align: center">
                            <f:facet name="header">#Items</f:facet>
                            <h:outputText value="#{cart.numberOfItems}"/>
                        </p:column>

                        <p:column style="text-align: right">
                            <f:facet name="header">Total</f:facet>
                            <h:outputText value="#{cart.total}">
                                <f:convertNumber type="currency" locale="de_DE" />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
