<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/default.css"/>
        <title>Shopping Cart Demo</title>
    </h:head>

    <h:body>
        <div id="container">
            <div id="top">
                <p><b>Warenkorbhandling</b> - <i>Intershop Programmier-Assessment</i></p>
            </div>

            <div id="content">
                <ui:insert name="content">Content</ui:insert>
            </div>

            <div id="bottom">
                <p>Author: Sven Saller, saller.sven@googlemail.com</p>
            </div>
        </div>
    </h:body>

</html>
